{
    email founder@tamazia.co.uk
}

n8n.tamazia.co.uk {
    reverse_proxy n8n:5678
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
